
.container__big-card
 {
  width: 400px;
  height: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20px;
 }

 .big-card__title > h1 {
  font-size: 21px;
  margin-top: 15px;
 }

 .big-card__description > p {
  color: grey;
 }

 .big-card__photo > img {
  width: 400px;
  min-width: 400px;
 }
