
<div class="container__big-card">
    <div class="big-card__photo">
      <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&amp;aspectRatio=1.78&amp;format=webp" alt="" height="200px">
    </div>
    <div class="big-card__title">
      <a href="#">
        <h1>Saiu a nova versão do Angular</h1>
      </a>
    </div>
    <div class="big-card__description">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, consequuntur sequi earum rem impedit explicabo cum quasi esse consequatur nesciunt provident voluptas illo fugit repellendus! Dolores odit ex iusto sequi.</p>
    </div>
</div>

